Use_Label=false
Show_Values=true
Show_Bars=false
Colorize_Values=true
Color_In=rgb(143,240,164)
Color_Out=rgb(248,228,92)
Text=Net
Network_Device=wlp4s0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=500
Values_As_Bits=false

